body {
  margin: 10px;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 30;
  font-weight:bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

.to-be-reviewed {
  overflow: scroll;
}

code {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 30;
  font-weight:bold;
    /* monospace; */
}

div.game-cards{
  max-width: 200px;
}