.container{
    padding:5%;
    font-family: 'Ribeye Marrow', cursive;
    font-size: 30;
    font-weight:bold;

}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container #details p{
    font-size:15px;
    font-weight:bold;
}

h1 {
    color: #ac0d0d
}